.booking-overlay {
  background-color: #fe043a9c;
}

.order {
  color: #fe043aaf;
}

.pizza-container::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0%;
  left: 3%;
  top: -9%;
  border: 6px dotted rgb(214, 216, 216);
  border-bottom: none;
  z-index: 99;
}

.pizza-container::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 0%;
  left: 3%;
  top: -17%;
  border: 6px dotted rgb(214, 216, 216);
  border-bottom: none;
  z-index: 99;
}

.burger-container::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 70%;
  right: -9%;
  bottom: -5%;
  border: 6px dotted rgb(214, 216, 216);
  border-left: none;
  z-index: 99;
}

.burger-container::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 0%;
  right: -5%;
  bottom: -9%;
  border: 6px dotted rgb(214, 216, 216);
  border-top: none;
  z-index: 99;
}

.a-booking {
  height: 80vh;
  background-color: #ffedde;
}

.a-booking h3 {
  color: #2e266f;
  font-size: 32px;
  letter-spacing: 1px;
}

.submit {
  background-color: #fe043c;
}

.form-container::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 50%;
  top: -8%;
  right: -3%;
  border: 6px dotted rgb(221, 219, 219);
  border-bottom: none;
  border-left: none;
  z-index: 99;
}

.form-container::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 50%;
  top: -15%;
  right: -6%;
  border: 6px dotted rgb(221, 219, 219);
  border-bottom: none;
  border-left: none;
  z-index: 99;
}

@media only screen and (max-width: 500px) {
  .booking-inner {
    flex-direction: column;
  }

  .pizza-container,
  .burger-container {
    height: 17rem;
    width: 17rem;
    margin-top: 25px;
  }

  .order {
    bottom: 0rem;
    font-size: 16px;
    width: 7rem;
  }

  .burger-container {
    margin-left: 90px;
  }

  .pizza-container::before,
  .pizza-container::after,
  .burger-container::after,
  .burger-container::before,
  .form-container::after,
  .form-container::before {
    display: none;
  }

  .a-booking {
    height: 90vh;
  }

  .a-booking h3 {
    font-size: 22px;
  }

  .a-booking p {
    font-size: 15px;
  }

  .form-container {
    background-color: #2e266f;
    width: 95%;
    height: 27rem;
  }

  .a-booking-form {
    flex-direction: column;
    align-items: center;
  }

  .a-booking-form > div {
    margin-bottom: 20px;
  }

  .a-lettuce,
  .a-cabbage {
    display: none;
  }
}
