#cart {
  background-color: #fff5ec;
  font-family: "Poppins", sans-serif;
}

.cart-card{
    background-color: rgb(252, 230, 210);
    -webkit-filter: drop-shadow(3px 3px 3px #a3a1a1);
    filter: drop-shadow(5px 10px 5px #dbd9d9);
}

.backlink {
  font-size: 20px;
  color: #2e266f;
}

#cart i {
  color: #2e266f;
  font-size: 20px;
}
