#cart {
  background-color: #fff5ec;
  font-family: "Poppins", sans-serif;
}

.cart-card {
  background-color: rgb(253, 238, 224);
  -webkit-filter: drop-shadow(3px 3px 3px #dfdfdf);
  filter: drop-shadow(5px 10px 5px #dbd9d9);
}

.backlink {
  font-size: 20px;
  color: #2e266f;
}

#cart i {
  color: #2e266f;
  cursor: pointer;
}

.cart-container {
  margin: 0 auto;
}

.cart-summary-price {
  color: #2e266f;
}

.checkout-btn{
  background-color: #2e266f;
  color: #ffffff;
}