footer h3 {
  color: #2e266f;
  letter-spacing: 1px;
  /* font-size: 28px; */
}

form i {
  color: #fe043c;
  font-size: 28px;
}

footer li {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  footer h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  #footer-p {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  footer #input-container {
    height: 2.5rem;
  }

  footer #links {
    font-size: 14px;
  }

  footer #input-container input {
    width: 220px;
  }

  .footer-leaf {
    height: 20rem;
    width: 20rem;
    top: -20%;
  }

  #copyright {
    font-size: 12px;
  }
}
