.nav-bar {
  height: 80px;
}

#logo {
  font-weight: 900;
  font-size: 30px;
  color: #fe043c;
}

.links {
  width: 30%;
}

.nav-bar li {
  color: #2e266f;
}

.login {
  width: 25%;
  z-index: 99;
}

.underlay {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 400px;
  height: 100vh;
  background-color: #fe043c;
  z-index: 1;
}

.hero-section-left {
  height: 80vh;
  width: 50%;
}

.hero-section-left h2 {
  font-family: "Titillium Web", sans-serif;
  color: #e2e0e0;
}

.hero-section-left h3 {
  font-weight: 700;
  font-size: 50px;
  color: #2e266f;
}

.hero-img {
  right: 7%;
  -webkit-filter: drop-shadow(5px 5px 5px #6b6969);
  filter: drop-shadow(10px 20px 20px #181414);
}

.hero-lettuce {
  right: 8%;
  top: 5%;
  width: 300px;
}

.search-container {
  background-color: #ffffff;
  width: 84%;
}

.search-container label,
.location {
  background-color: #fe043c;
}

/* INTRO */

.intro h3 {
  color: #2e266f;
  font-size: 32px;
  letter-spacing: 1px;
  border-left: 10px solid #fe043c;
}

@media only screen and (max-width: 500px) {
  .nav-bar {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .underlay {
    display: none;
  }

  .hero-section-left {
    width: 70%;
  }

  .hero-section-left h2 {
    font-size: 3.5rem;
  }

  .hero-section-left h3 {
    font-size: 23px;
  }

  .search-container {
    height: 2.5rem;
  }

  .search-container input {
    width: 8rem;
    padding-left: 5px;
  }

  .search-container label {
    border-top-left-radius: 0px;
    padding: 0px 15px;
  }

  .location {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .break {
    display: none;
  }

  .hero-img {
    right: 4%;
    -webkit-filter: drop-shadow(5px 5px 5px #929191);
    filter: drop-shadow(10px 20px 20px #757575);
    width: 220px;
    bottom: -10%;
  }

  .hero-lettuce {
    right: 3%;
    top: 65%;
    width: 250px;
  }

  .intro > div {
    flex-direction: column;
  }

  .intro > div > div {
    width: 100%;
  }

  .intro h3 {
    font-size: 22px;
    margin-bottom: 35px;
  }
}
