.product-name,
.product-container h3 {
  color: #2e266f;
}

.product-container h3 {
  font-size: 32px;
}

.product-price {
  color: #fe043c;
}

.addcart-btn {
  background-color: #fe043c;
}

#loader-wrapper {
  position: relative;
  width: 1200px;
  height: 300px;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  border-top: 3px solid #fe043c;
  border-radius: 50%;

  -webkit-animation: spin 3.5s linear infinite;
  animation: spin 3.5s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-top: 3px solid #2e266f;
  border-radius: 50%;

  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border-top: 3px solid #ffedde;
  border-radius: 50%;

  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .product-container h3 {
    font-size: 22px;
  }

  .product-container > div p {
    font-size: 14px;
  }

  .product-container section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .product-img img {
    height: 12rem;
  }

  .product-card-detail > div {
    font-size: 14px;
  }

  .addcart-btn {
    font-size: 14px;
  }
}
