.bg-dot {
  position: absolute;
  width: 1300px;
  height: 150%;
  top: -25%;
  left: -8%;

  background-image: radial-gradient(#e2e1e1 10%, transparent 11%),
    radial-gradient(#e2e1e1 10%, transparent 11%);
  background-size: 30px 30px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

.service h3 {
  color: #2e266f;
  font-size: 32px;
  letter-spacing: 1px;
  border-left: 10px solid rgb(254, 4, 60);
}

.servicesGrid h4 {
  color: #2e266f;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
}

.service-left1,
.service-left4,
.service-right {
  background-color: #ffedde;
}

.service-left1 i,
.service-left4 i {
  color: #fe043c;
}

.service-right {
  margin-left: 20px;
}

.service-right p {
  border-bottom: 3px solid #fe043c;
}

@media only screen and (max-width: 500px) {
  .service > div {
    flex-direction: column;
  }

  .service > div > div {
    width: 100%;
  }

  .service h3 {
    font-size: 22px;
    margin-bottom: 35px;
  }

  .servicesGrid > div {
    flex-direction: column;
  }

  .servicesGrid h4 {
    font-size: 20px;
  }

  .servicesGrid > div > div {
    width: 100%;
  }

  .service-right {
    margin-left: 0px;
    margin-top: 15px;
  }
}
